{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(seasonForm) }}
    {{ form_widget(seasonForm) }}
    <button>Create season</button>
    {{ form_end(seasonForm) }}

{% endblock %}

{% block title %}
    create a season
{% endblock %}

