{% extends 'base.html.twig' %}

{% block title %}
    Create a new serie |{{ parent() }}
{% endblock %}

{% block body %}
    <div>
        {# todo : afficher le formulaire #}
        {{ form_start(serieForm) }}

        {{ form_widget(serieForm) }}
        <button>Create!</button>

        {{ form_end(serieForm) }}
    </div>
{% endblock %}

